<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dziennik{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'journal/style.css' %}">
</head>
<body>
    <header>
        <h1>Witaj w naszej szkole!</h1>
    </header>
    <nav>
        {% if user.is_authenticated and user.is_superuser %}
            <a href="{% url 'student_list' %}">Uczniowie</a>
            <a href="{% url 'class_list' %}">Klasy</a>
            <a href="{% url 'teacher_list' %}">Nauczyciele</a>
            <form method="POST" action="{% url 'logout' %}" id="logout-form" style="display: none;">
                {% csrf_token %}
            </form>
            <a href="#" onclick="document.getElementById('logout-form').submit();">Wyloguj się</a>
        {% elif user.is_authenticated %}
            <form method="POST" action="{% url 'logout' %}" id="logout-form" style="display: none;">
                {% csrf_token %}
            </form>
            <a href="#" onclick="document.getElementById('logout-form').submit();">Wyloguj się</a>
        {% else %}
            <a href="{% url 'login' %}">Zaloguj się</a>
        {% endif %}
    </nav>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Dziennik Szkolny</p>
    </footer>
</body>
</html>