{% extends 'journal/base.html' %}

{% block title %}Usuń ucznia{% endblock %}

{% block content %}

<h1 class="card-header">Potwierdzenie usunięcia</h1>

<div class="card-body">
    <p>Czy na pewno chcesz usunąć ucznia <strong>{{ student.first_name }} {{ student.last_name }}</strong>?</p>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-success mb-1" type="submit">Tak, usuń</button>
    </form>
    <a class="btn btn-danger" href="{% url 'student_list' %}">Anuluj</a>
</div>

{% endblock %}