{% extends 'journal/base.html' %}

{% block title %}Usuń nauczyciela{% endblock %}

{% block content %}

<h1 class="card-header">Potwierdzenie usunięcia</h1>
<div class="card-body">
    <p>Czy na pewno chcesz usunąć nauczyciela <strong>{{ teacher.first_name }} {{ teacher.last_name }}</strong>?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success mb-1">Tak, usuń</button>
    </form>
    <a class="btn btn-danger" href="{% url 'teacher_list' %}">Anuluj</a>
</div>

{% endblock %}