{% extends 'journal/base.html' %}

{% block title %}Lista nauczycieli{% endblock %}

{% block content %}
<h1 class="card-header">Lista nauczycieli</h1>
<div class="card-body">
<table class="table table-hover">
    <thead class="table-primary">
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>E-mail</th>
            <th>Przedmiot</th>
            <th>Klasa wychowawcza</th>
            <th colspan="3">Opcje</th>
        </tr>
    </thead>
    <tbody class="table-light align-middle">
        {% for teacher in teachers %}
        <tr>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.email }}</td>
            {% if teacher.subject.name %}
                <td>{{ teacher.subject.name }}</td>
            {% else %}
                <td>Brak</td>
            {% endif %}
            {% if teacher.student_class_tutor %}
                <td>{{ teacher.student_class_tutor.name }}</td>
            {% else %}
                <td>Brak</td>
            {% endif %}
            <td><a class="btn btn-info" href="{% url 'teacher_detail' teacher.id %}">Szczegóły</a></td>
            {% if user.is_superuser %}
                <td><a class="btn btn-warning" href="{% url 'teacher_edit' teacher.id %}">Edytuj</a></td>
                <td><a class="btn btn-danger" href="{% url 'teacher_delete' teacher.id %}">Usuń</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if user.is_superuser %}
    <a class="btn btn-secondary" href="{% url 'teacher_add' %}">Dodaj nowego nauczyciela</a>
{% endif %}
</div>
{% endblock %}